{% extends 'admin/adminbase.html.twig' %}
{% block body %}
      <h1>{{ title }}</h1> 
      <h2>
      <a href="{{ path('admin_user_created')}}">создать пользователя</a><br>
      Список пользователей
      </h2>
      <ul>
      {% for user in users %}
            <li>{{ user.email }} | {{ user.roles | json_encode}}</li>
      </ul> 
      {% endfor %}
{% endblock %}