<!--  ============ footer ====================-->                 
<footer>
    <div class="footer_top">
        <div class="footer_top_left">
            <h3 id="footer_top_leftH3">МТС – связь и цифровые решения</h3>
            <p id="footer_top_leftP">Актуальные новости об услугах на базе мобильных и фиксированных сетей, цифровых сервисах и приложениях, ТВ и медиа, финансовых сервисах и в сфере больших данных, облачных решениях и других сервисах компании</p>
        </div>
        <div class="footer_top_right">
            <ul class="footer_top_ul">
                <li><a href="#">Мобильная связь</a></li>
                <li><a href="#">Домашний интернет</a></li>
                <li><a href="#">Перейти в МТС</a></li>
                <li><a href="#">Бизнесу</a></li>
            </ul>
            <ul class="footer_top_ul">
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Карьера в МТС</a></li>
                <li><a href="#">Бизнесу</a></li>
            </ul>
        </div>
    </div>
    <div class="footer_bottom">
        <div id="footer_bottom_up">
            <div class="footer_bottom_parent">
                <div id="footer_bottom_up_left">
                        <p>Социальные сети</p>
                        <div id="footer_bottom_span"> 
                                <span><a href="#" id="instagram">.</a></span>
                                <span><a href="#"id="face"></a></span>
                                <span><a href="#"id="twitter"></a></span>
                                <span><a href="#"id="vk"></a></span>
                                <span><a href="#"id="scool"></a></span>
                                <span><a href="#"id="telegram"></a></span>
                        </div>
                </div>
                <div id="footer_bottom_up_center">
                    <p>Мой МТС</p>
                    <span><a href="#" id="appleStore">.</a></span>
                    <span><a href="#"id="googlePlay"></a></span>
                    <span><a href="#"id="appGallery"></a></span>
                </div>
            </div>
        
            <div id="footer_bottom_up_right">
                <ul class="footer_bottom_up_right_ul">
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Полезная информация</a></li>
                    <li><a href="#">Правовая информация</a></li>
                    <li><a href="#">Карта покрытия</a></li>
                    <li><a href="#">Договор</a></li>
                </ul>
            </div>
        </div>
        
        <div id="footer_bottom_down">
            <p>© 2012–2021 СООО «Мобильные ТелеСистемы». УНП 800013732 Все права защищены.</p>
        </div>
    </div>
</footer> 
<!--Визуальная иммитация чат-бота!!!-->
<aside>
<div id="halp_big"> 
    <div id="halp_mia"></div> 
    <div id="halp">
        <div id="halp_mia_big"></div>
        <div id="halp_text_form">
            <div id="form_text2">Здравствуйте! Я Миа, бот-консультант МТС, постараюсь вам помочь, какой у Вас вопрос?</div>
            <textarea placeholder="Введите Ваш вопрос" id="form_text"  ></textarea>
            <input type="text" placeholder="Введите контактные данные для обратной связи" id="form_text3" >
            <input type="button" value="отправить вопрос" id="form_text1" >
        </div> 
        <div id="halp_text">помощь</div>  
    </div>   
</div>
</aside>
