*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display:inline-block;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


body{
    font-family: 'PT Serif', serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
header{
    font-family: 'Roboto', sans-serif;
}
.header_top{
    background-color: #303030;
}
.logo{
    max-width: 50px;
    max-height: 50px;
}
.header_btn{
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header_btn::before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}
.header_contacts::after{
    content: "";
    clear: both;
    display: block;
}
.header_phone,.header_email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header_phone{
    padding-right: 30px;
    padding-left: 20px;
}
.header_phone::before{
    content: "\f10b";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_email{
    padding-left: 24px;
}
.header_email::before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_content{
    padding: 34px 0px 23px;
}
.header_content-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
}
.menu a:hover{
    border: 1px solid #ffc222;
}
.menu li + li{
    padding-left: 10px;
}
#hidden-content{
    display: none;
}
.slider{
    background-image: url(../img/slider-fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    
}
.slider_item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider_title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider_text{
    line-height: 24px;
    font-size: 18;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default-btn{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid#ffc222;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.default-btn::after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}
.slider_inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid#fff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slick-btn:hover{
    background-color: #ad800d;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn::before{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #fff;    
}
.slick-next::before{
    content: "\f105";   
}
.slick-next{
    right: 0;
}
.slick-prev::before{
    content: "\f104";
}
.slick-prev{
    left: 0;
}
.servises{
    padding: 50px 0px 30px;
}
.img_servises-1{
    width: 20%;
}
.img_servises-2,.img_servises-3{
    width: 20%;
}
.servises_top,
.news_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.servises_title-box,
.form_title-box,
.news_title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.servises_title-box::before,
.form_title-box::before,
.news_title-box::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top:11px;
}
.servises_title,
.form_title,
.news_title{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color:#212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.servises_text,
.form_text,
.news_text{
    letter-spacing: 0.1px;
}
.servises_btn a,
.news_btn a{
    color:#373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid#e6e6e6;
}
.servises_items{
    display: flex;
    justify-content: space-between;
}
.servises_item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.servises_item:hover{
    box-shadow: 0px 7px 24.3px 2.7px rgba(20, 20, 4, 0.14);
}
.servises_item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}
.servises_item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}
.servises_item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.servises_item-btn .default-btn{
    color: #373636;
}
.servises_item-btn .default-btn::after{
    color: #fff;
}
.servises_item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid#050505;
    margin-right: 60px;
}
.about{
    background-image: url(../img/about-fon-1.jpg);
    background-color: #000;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}
.about_inner{
    max-width: 545px;
}
.about_title{
    padding: 10px 0px 25px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.about_text{
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}
.about_btn.default-btn::after{
    color: #000;
}
.about_btn:hover{
    color: rgb(156, 36, 6);
    background-color: #ffc222;
    opacity: 75%;
}
.form{
    padding: 30px;
}
.form_inner{
    padding-bottom: 40px;
    background-image: url(../img/form_fon_1.jpeg);
    min-height: 610px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.form_box{
    max-width: 700px;
    padding-top: 45px;
}
.form_box-inner{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    /*max-width: 700px;*/
}
.form_box-left{
    max-width: 250px;
    width: 100%;
}
.form_box-right{
    max-width: 400px;
    width: 100%;
}
.form_box-inner label,
.form_box-inner input,
.form_box-inner textarea{
    display: block;
    width: 100%;
}
.form_box-inner label{
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}
.form_box-inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid#e6e6e6;
    padding: 0px 10px;
}
.form_box-inner select{
    outline: none;
    height: 40px;
    border: 1px solid#e6e6e6;
    padding-left: 17px;
}
.form_box-inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
}
.form_box-inner .jq-selectbox__select{
    height: 40px;
    border: 1px solid#e6e6e6;
    background-color: transparent;
    border-radius: 0;
    padding-left: 17px;    
}
.form_box-inner .jq-selectbox__trigger-arrow::before{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top:0;
    right: 17px;
    transform: rotate(90deg);
}
.form_box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.form_box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form_box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form_box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form_box-inner .jq-selectbox li.disabled {
	color: #AAA;
}
.form_box-inner .jq-selectbox li.disabled:hover {
	background: none;
}
.form_box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form_box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form_box-inner .jq-selectbox li.option {
	padding-left: 25px;
}
.form_box-inner textarea{
    outline: none;
    height: 208px;
    border: 1px solid#e6e6e6;
    padding: 10px;
    resize: none;
    margin-bottom: 40px;
}
.form_box-inner button{
    background-color: transparent;
    color:#282828;
    float: right;
}
.form_box-inner button:hover{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color:#282828;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid#f58013;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.advantages{
    padding: 55px 0px 40px;
    background-image: url(../img/advantages_fon_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 285px;
}
.advantages__inner{
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.advantages-item{
    max-width: 360px;
    padding: 0px 20px;
}
.advantages__title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 60px 0px 15px;
    position: relative;
    /*height: 120px;*/
}
.advantages__text{
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #d3d2d2;
}
.advantages__title::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid#ffc222;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.advantages__title::after{
    font-family: 'icomoon';
    content: "\f00c";
    font-size: 14px;
    position: absolute;
    top:9px;
    left: 50%;
    transform: translateX(-50%);
}
.news{
    padding: 55px 0px 110px;
    background-color: #f9f9f9;
}
.news_inner{
    display: flex;
    justify-content: space-between;
}
.news_slider{
    max-width: 550px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.14);
    padding: 60px 35px 45px 50px;
    position: relative;
}
.news_slider:before{
    font-family: 'icomoon';
    content: "\f10e";
    color: #fff;
    font-size: 16px;
    height: 30px ;
    width: 65px;
    text-align: center;
    line-height: 30px;
    background-color: #ffc222;
    position: absolute;
    top: 0;
    left: 70px;    
}
.news_blog{
    max-width: 260px;
    width: 100%;
}
.news_images{
    position: relative;
}
.news_date{
    position: absolute;
    background-color: #ffc222;
    width: 50px;
    height: 55px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0px;
    left: 10px;
}
.news_blog-title{
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.5px;
    color: #242424;
    padding: 12px 0px;
}
.news_blog-text{
    letter-spacing: 0.1px;
    color: #5e5e5e;
}
.news_slider-title{
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}
.news_slider-text{
    margin-bottom: 30px;
    max-height: 150px;
    overflow: auto;    
}
.news_slider-author{
    letter-spacing: 0.1px;
    color: #212020;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
}

.news_slider-inner .slick-btn{
    top: auto;
    bottom: -110px;
}
.news_slider-inner .slick-next{
    right: -35px;
}
.news_slider-inner .slick-prev{
    right: 20px;
    left: auto;
}
.news_slider-inner .slick-disabled{
    border-color: #dadada;
}
.news_slider-inner .slick-disabled::before{
    color: #dadada;
}
.footer_content{
    background-color: #595959;
    padding: 20px 0px 30px;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
}
.footer_inner .header_btn{
    float: none;
    display: inline-block;
}

.footer_map iframe{
    width: 100%;
}
.footer_map{
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}
.footer_title{
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.footer_info{
    max-width: 360px;
}
.footer_text{
    color: #d3d2d2;
    margin-bottom: 20px;
}
.footer_list li{
    margin-top: 10px;
}
.footer_list{
    padding-top: 10px;
}
.footer_list a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #dadada;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    padding-left: 33px;
    position: relative;

}
.footer_list a:hover{
    font-size: 16.5px;
    color: #fff;
}
.footer_list a::before{
    content:"";
    position: absolute;
    left: 0;
    color: #ffc222;
    content: "\f003";
    font-family: 'icomoon';
}
.footer_list .footer_phone::before{
    content:"\f095";
    left: 3px;
}
.footer_list .footer_adress::before{
    content:"\f041";
    left: 3px;
}
.footer_copy{
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
}
#hidden-content{
    width: 300px;
}
#hidden-content input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid#e6e6e6;
    padding: 0px 10px;
}
#hidden-content input[type="submit"]{
    background-color: #ffc222;
    border: none;
}
.header_btn-menu{
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-top: 25px;
}

/* ========= page news ========= */
.page_news input{
    margin-bottom: 24px;
    outline: none;
    height: 60px;
    border: 1px solid#e6e6e6;
    padding: 0px 10px;
    max-width: 100%;
    width: 100%;
}
.page .news_inner{
    display: block;
}
.page .news_slider{
    max-width: 100%;
    margin-bottom: 90px;
}
.page .news_blog{
    max-width: 100%;
    display: block;
    margin-bottom: 30px;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.14);
}
.page .news_blog:hover{
    box-shadow: 0px 5px 15.36px 0.64px rgba(70, 70, 71, 0.25);
}
.page .news_blog::after{
    content: "";
    clear: both;
    display: block;
}
.page .news_images{
    float: left;
    margin-right: 50px;
}
.page .news{
    padding-bottom: 60px;
}

/* ======= page_new ========== */
.page_new .news_inner{
    display: block;
}
.page_new .news_blog{
    max-width: 100%;
    display: block;
    margin-bottom: 30px;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.14);
}
.page_new .news_blog::after{
    content: "";
    clear: both;
    display: block;
}
.page_new .news_images{
    float: left;
    margin-right: 50px;
}
.page_new .news{
    padding-bottom: 60px;
}
.page_new .news_blog-title{
    font-size: 26px;
    font-weight: 500px;
    letter-spacing: normal;
    line-height: 30px;
    color: #242424;
    padding: 12px 0px;
}
.page_new .news_title{
    font-size: 44px;
    line-height: 34px;
    font-weight: 500;
    color:#212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.page_new .news_text{
    letter-spacing: 0.1px;
}
.page_new .news_title-box{
    max-width: 820px;
    padding-left: 140px;
    position: relative;
}
.page_new-image img{
    max-width: 100%;   
}
.page_new .comment-image{
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #5e5e5e;
    padding: 20px;
}
.page_new .news_date{
    width: 100px;
}
.elastic .none.hide{
    display: none;
}
.news_blog-text-author{
    font-weight: 500px;
    letter-spacing: 0.1px;
    color: #242424;
    padding: 20px;
}
.page_new .news_blog-text{
    padding: 20px;    
}
.page_new .news_image-article{
    float: right;
    margin-left: 0px;
    margin-top: 25px;
}
.page_new .comment-image-article{
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #5e5e5e;
    padding: 20px;
    max-width: 80%;
}

/*  ========= add.new ========== */
.add_new-form{
    padding: 30px;
}
.add_new-form .form_box{
    max-width: 1200px;
    padding-top: 45px;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.14);
}
.add_new-form .form_box-inner{
    flex-direction: row;
    display: flex;
    justify-content: space-between;    
}
.add_new-form .form_box-left{
    max-width: 575px;
    width: 100%;
}
.add_new-form .form_box-right{
    max-width: 575px;
    width: 100%;
    padding: 30px;
}
.add_new-form .form_box-inner label,
.add_new-form .form_box-inner input,
.add_new-form .form_box-inner textarea{
    display: block;
    width: 100%;
}

.add_new-form .form_box-inner input{
    margin-top: 10px;
}
.add_new-form .form_box-inner label{
    line-height: 18px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px 20px 0px;
}
.add_new-form .form_box-inner input[type="file"]{
    margin-top: 10px;
    outline: none;
    height: none; 
    border: none ;
    padding: none;
}
.add_new-form .custom-file-upload input{
    margin-bottom: -30px;
    margin-top: 60px;
    /* outline: none;
    height: none; 
    border: none ;
    padding: none; */
}
.add_new-form .form_box-inner .textarea-article{
    height: 412px;
    margin-top: 10px;
}
.add_new-form .form_box-inner .textarea-prev{
    height: 208px;
    margin-top: 10px;
}
.add_new-form .form_box-inner .textarea-author{
    height: 104px;
    margin-top: 10px;
}
.add_new-form .form_box-inner button{
    background-color: transparent;
    color:#282828;
    float: right;
}
.add_new-form .form_box-inner button:hover{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color:#282828;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid#f58013;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.add_new-form .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 30px;
}
