<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel = "stylesheet"  href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/jquery.formstyler.css">
    <!--<link rel="stylesheet" href="css/jquery.formstyler.theme.css">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
     <header class="hedaer">
        <div class="header_top">
            <div class="container">
                <div class="header_contacts">
                    <a class="header_phone" href="tel:79957771830">+7(995) 777 18 30</a>
                    <a class="header_email" href="#">mvlju977@gmail.com</a>
                    <a data-fancybox data-src="#hidden-content" href="javascript:;" class="header_btn">Бесплатная консультация</a>
                </div>
            </div>
        </div>
        <div class="header_content">
            <div class="container">
                <div class="header_content-inner">
                    <div class="header_logo">
                        <a href="#">
                            <img src="img/logo.png" alt="" class="logo">
                        </a>
                    </div>
                    <nuv class="menu">
                        <div class="header_btn-menu">
                            <span class="icon-bars"></span>
                        </div>
                        <ul>
                            <li><a href="#">Главная </a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nuv>
                </div>
            </div>
        </div>
    </header>
    <section class="page_new news">
        <div class="container">
            <div class="news_top">
                <div class="page_new news_title-box">
                    <div class="page_new news_title">
                        Новости компании
                    </div>
                    <div class="news_text">
                        Всегда свежие новости
                    </div>
                </div>
            </div>
            <div class="page_new news_inner">
                <div href="#" class="page_new news_blog">
                    <div class="page_new news_images">
                        <img src="img/news_1.jpeg" alt="">
                        <div class="page_new news_date">03.04.2021</div>
                    </div>
                    <div class="page_new news_blog-title">
                        Федеральная палата адвокатов России приступила к разработке искусственного интеллекта в сфере оказания правовой помощи. Об этом говорится в официальном сообщении палаты. Как подчеркнул президент ФПА России Юрий Пилипенко, адвокатура намерена провести работы по созданию искусственного интеллекта в короткие сроки.
                    </div>
                    <div class="page_new-image">
                        <img src="img/slider-fon2.jpg" alt="">   
                    </div>
                    <div class="page_new comment-image">Комменатрий к фотографии. Фото: Татьяна Андреева/РГ </div>
                    <div class="page_new news_image-article">
                        <img src="img/news_1.jpeg" alt="">
                        <div class="page_new comment-image-article">Комменатрий к фотографии. Фото: Татьяна Андреева/РГ </div>
                    </div>
                    <div class="news_blog-text">
                        "Российская адвокатура поставила перед собой амбициозную задачу по созданию искусственного интеллекта в области первичной правовой помощи, - сказал он. - Мы хорошо видим, как изменилась среда нашего обитания: непростое время ставит перед нами новые вызовы. Происходит цифровая трансформация почти всех областей жизни человека, а искусственный интеллект приобретает черты реальности. Российской адвокатуре не хотелось бы оказаться в числе отстающих. Тем более что президент нашей страны нацелил именно в этом направлении как внешнее, так и внутреннее развитие экономики, обновление отечественных технологий и профессиональных стандартов".
                        Эксперт рассказал, кого и за что карает закон об авторском праве
                        Над созданием робота-юриста трудится рабочая группа Федеральной палаты адвокатов РФ по разработке искусственного интеллекта в сфере оказания консультационных услуг. Предполагается, что электронный помощник будет бесплатно помогать гражданам по типовым вопросам. Как пояснил Юрий Пилипенко, в области бесплатной юридической помощи сосредоточены, как правило, типичные, стандартные правовые вопросы, решение которых может стать автоматизированным в ближайшем будущем. Именно в этой сфере нейронные сети способны обучаться и наилучшим образом демонстрировать свои возможности, считает он.
                        В свою очередь, вице-президент ФПА РФ Елена Авакян сообщила, что рабочая группа занимается созданием базы прецедентов, на которых будет обучаться нейросеть. По ее словам, необходимо собрать как минимум 10 тысяч прецедентов. С этой целью рабочая группа будет сотрудничать со всеми адвокатскими палатами, организующими оказание бесплатной юридической помощи по всей стране. В палаты направлена просьба собирать и присылать обезличенные запросы граждан, которые получают адвокаты, и ответы, которые давались.
                        По замыслу, искусственный консультант станет для граждан первым этапом на пути к получению бесплатной правовой поддержки. Получив ответ от робота, гражданин решит: достаточно ли он получил информации или нужна более развернутая консультация. Возможно, в его деле есть нюансы, которые не укладываются в шаблоны в голове робота.
                        "Это перспективный проект, который нужно развивать, он поможет гражданам получать адекватные ответы на их вопросы в режиме реального времени от соответствующего чат-бота до того, как они обратятся к адвокату, что уже сегодня сделано во многих европейских странах и, естественно, сделано в Китае", - говорит Елена Авакян.
                        Кстати, еще новость: как сообщил сегодня в ходе выездного заседания президиума общественного совета при МВД Юрий Пилипенко, в обозримом будущем планируется переход на электронное удостоверение адвоката. В связи с этим он поинтересовался, какова оснащенность органов внутренних дел устройствами для считывания электронных документов и смогут ли там "распознать" электронное удостоверение адвоката. На этот вопрос заместитель начальника Департамента информационных технологий, связи и защиты информации МВД России ответил, что такими считывателями планируется оснастить все подразделения МВД, однако это будет осуществлено не сразу, а в течение двух лет.
                    </div>
                    <div class="news_blog-text-author">
                        Автор статьи. Ссылки. Источники.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_content">
            <div class="container">
                <div class="footer_inner">
                    <div class="footer_info">
                        <div class="footer_title">
                            Юрист по гражданству в турции - Русскоговорящий турецкий...
                        </div>
                        <div class="footer_text">
                            Нужна надежная юридическая поддержка для ваших сделок с недвижимостью и гражданством. Наше бюро, состоящее из опытной команды, предоставляет решение...
                        </div>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="header_btn">
                            Бесплатная консультация
                        </a>
                        <ul class="footer_list">
                            <li><a class="footer_phone" href="tel:79957771830">+7 (995) 777 18 30</a></li>
                            <li><a  href="#">mvlju977@gmail.com</a></li>
                            <li><a class="footer_adress" href="#">224. Sk. 3 A Hurma, 224. Sk. 3 A, 07130 Bahtılı Köyü Köyü/Konyaaltı/Antalya</a></li>
                        </ul>
                    </div>
                    <div class="footer_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12769.001896835982!2d30.602218242904456!3d36.86042302995611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c393c2dbf54b39%3A0x85d588ae3693fa3b!2zSHVybWEsIDIyNC4gU2suIDMgQSwgMDcxMzAgQmFodMSxbMSxIEvDtnnDvCBLw7Z5w7wvS29ueWFhbHTEsS9BbnRhbHlh!5e0!3m2!1sru!2str!4v1638958614135!5m2!1sru!2str"  height="320px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="copy_text">
                    2017 Template by Anastasia Shaposhnyk. Все права защищены.
                </div>
            </div>
        </div>
    </footer>

    <div id="hidden-content">
        <form action="">
            <input type="text" placeholder="Ваше имя">
            <input type="text" placeholder="Ваш телефон">
            <input type="submit" value="Отправить">

        </form>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.formstyler.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>