<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel = "stylesheet"  href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/jquery.formstyler.css">
    <!--<link rel="stylesheet" href="css/jquery.formstyler.theme.css">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
     <header class="hedaer">
        <div class="header_top">
            <div class="container">
                <div class="header_contacts">
                    <a class="header_phone" href="tel:79957771830">+7(995) 777 18 30</a>
                    <a class="header_email" href="#">mvlju977@gmail.com</a>
                    <a data-fancybox data-src="#hidden-content" href="javascript:;" class="header_btn">Бесплатная консультация</a>
                </div>
            </div>
        </div>
        <div class="header_content">
            <div class="container">
                <div class="header_content-inner">
                    <div class="header_logo">
                        <a href="#">
                            <img src="img/logo.png" alt="" class="logo">
                        </a>
                    </div>
                    <nuv class="menu">
                        <div class="header_btn-menu">
                            <span class="icon-bars"></span>
                        </div>
                        <ul>
                            <li><a href="#">Главная </a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nuv>
                </div>
            </div>
        </div>
    </header>
    <section class="page news">
        <div class="container">
            <div class="news_top">
                <div class="news_title-box">
                    <div class="news_title">
                        Новости компании
                    </div>
                    <div class="news_text">
                        Тут вы всегда найдете свежие новости
                    </div>
                </div>
            </div>
            <div class="page_news">
                <input type="text" id="elastic" name="filter-contacts" class="" placeholder="Поиск новостей">
            </div>
            <div class="page news_inner elastic" id="">
                <div class="page news_slider" >
                    <div class="news_slider-inner">
                        <div class="news_slider-item">
                            <div class="news_slider-title">
                                Право.ru: законодательство, судебная система, новости и ...
                            </div>
                            <div class="news_slider-text">
                                Депутаты Госдумы на пленарном заседании 7 декабря приняли во втором чтении законопроект о регулировании дистанционного участия в судебном процессе. Поправки вносятся в Арбитражный процессуальный кодекс, Гражданский процессуальный кодекс, Кодекс административного судопроизводства и корреспондирующие нормативные акты.
                                Документ разрешает направлять исковые заявления, жалобы, представления и тому подобное в электронном виде с помощью портала «Госуслуги», системы электронного документооборота либо системы, которую определит Верховный суд или Суддеп. Такие документы достаточно будет подписать простой электронной подписью, если процессуальное законодательство не требует иного, за исключением системы электронного документооборота — в ней всегда потребуется усиленная квалифицированная подпись.
                            </div>
                            <div class="news_slider-author">
                                Анастасия Синченкова
                            </div>
                        </div>
                        <div class="news_slider-item">
                            <div class="news_slider-title">
                                Право.ru: законодательство, судебная система, новости и ...
                            </div>
                            <div class="news_slider-text">
                                Депутаты Госдумы на пленарном заседании 7 декабря приняли во втором чтении законопроект о регулировании дистанционного участия в судебном процессе. Поправки вносятся в Арбитражный процессуальный кодекс, Гражданский процессуальный кодекс, Кодекс административного судопроизводства и корреспондирующие нормативные акты.
                                Документ разрешает направлять исковые заявления, жалобы, представления и тому подобное в электронном виде с помощью портала «Госуслуги», системы электронного документооборота либо системы, которую определит Верховный суд или Суддеп. Такие документы достаточно будет подписать простой электронной подписью, если процессуальное законодательство не требует иного, за исключением системы электронного документооборота — в ней всегда потребуется усиленная квалифицированная подпись.
                            </div>
                            <div class="news_slider-author">
                                Анастасия Синченкова
                            </div>
                        </div>
                        <div class="news_slider-item">
                            <div class="news_slider-title">
                                Право.ru: законодательство, судебная система, новости и ...
                            </div>
                            <div class="news_slider-text">
                                Депутаты Госдумы на пленарном заседании 7 декабря приняли во втором чтении законопроект о регулировании дистанционного участия в судебном процессе. Поправки вносятся в Арбитражный процессуальный кодекс, Гражданский процессуальный кодекс, Кодекс административного судопроизводства и корреспондирующие нормативные акты.
                                Документ разрешает направлять исковые заявления, жалобы, представления и тому подобное в электронном виде с помощью портала «Госуслуги», системы электронного документооборота либо системы, которую определит Верховный суд или Суддеп. Такие документы достаточно будет подписать простой электронной подписью, если процессуальное законодательство не требует иного, за исключением системы электронного документооборота — в ней всегда потребуется усиленная квалифицированная подпись.
                            </div>
                            <div class="news_slider-author">
                                Анастасия Синченкова
                            </div>
                        </div>
                    </div>
                </div>
                <a id="c_1" href="#" class="page news_blog none" data-filter-tags="black">
                    <div class="page news_images">
                        <img src="img/news_1.jpeg" alt="">
                        <div class="news_date">03.04</div>
                    </div>
                    <div class="news_blog-title">
                        Новости права сегодня - Российская газета
                    </div>
                    <div class="news_blog-text">
                        Последние новости в сфере права в России. Анализ событий. Экспертное мнение. ... Захарова и Барщевский задали видеовопросы участникам правового диктанта.
                    </div>
                </a>
                <a id="c_2" href="#" class="page news_blog none" data-filter-tags=blue>
                    <div class="page news_images">
                        <img src="img/news_2.jpeg" alt="">
                        <div class="news_date">10.12</div>
                    </div>
                    <div class="news_blog-title">
                        Человек и закон  за сегодня. Закон и Бизнес
                    </div>
                    <div class="news_blog-text">
                        Правовые новости за сегодня. Закон и Бизнес. ... Бесплатная правовая помощь — еще одна гарантия от государства, цель которого часто искажается на практике.
                    </div>
                </a>
                <a id="c_3" href="#" class="page news_blog none" data-filter-tags="red">
                    <div class="page news_images">
                        <img src="img/news_1.jpeg" alt="">
                        <div class="news_date">03.04</div>
                    </div>
                    <div class="news_blog-title">
                        Последние новости сегодня - Российская газета
                    </div>
                    <div class="news_blog-text">
                        Последние новости в сфере права в России. Анализ событий. Экспертное мнение. ... Захарова и Барщевский задали видеовопросы участникам правового диктанта.
                    </div>
                </a>
                <a id="c_4" href="#" class="page news_blog  none" data-filter-tags="news">
                    <div class="page news_images">
                        <img src="img/news_2.jpeg" alt="">
                        <div class="news_date">10.12</div>
                    </div>
                    <div class="news_blog-title">
                        Правовые новости за сегодня. Закон и Бизнес
                    </div>
                    <div class="news_blog-text">
                        Правовые новости за сегодня. Закон и Бизнес. ... Бесплатная правовая помощь — еще одна гарантия от государства, цель которого часто искажается на практике.
                    </div>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_content">
            <div class="container">
                <div class="footer_inner">
                    <div class="footer_info">
                        <div class="footer_title">
                            Юрист по гражданству в турции - Русскоговорящий турецкий...
                        </div>
                        <div class="footer_text">
                            Нужна надежная юридическая поддержка для ваших сделок с недвижимостью и гражданством. Наше бюро, состоящее из опытной команды, предоставляет решение...
                        </div>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="header_btn">
                            Бесплатная консультация
                        </a>
                        <ul class="footer_list">
                            <li><a class="footer_phone" href="tel:79957771830">+7 (995) 777 18 30</a></li>
                            <li><a  href="#">mvlju977@gmail.com</a></li>
                            <li><a class="footer_adress" href="#">224. Sk. 3 A Hurma, 224. Sk. 3 A, 07130 Bahtılı Köyü Köyü/Konyaaltı/Antalya</a></li>
                        </ul>
                    </div>
                    <div class="footer_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12769.001896835982!2d30.602218242904456!3d36.86042302995611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c393c2dbf54b39%3A0x85d588ae3693fa3b!2zSHVybWEsIDIyNC4gU2suIDMgQSwgMDcxMzAgQmFodMSxbMSxIEvDtnnDvCBLw7Z5w7wvS29ueWFhbHTEsS9BbnRhbHlh!5e0!3m2!1sru!2str!4v1638958614135!5m2!1sru!2str"  height="320px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="copy_text">
                    2017 Template by Anastasia Shaposhnyk. Все права защищены.
                </div>
            </div>
        </div>
    </footer>

    <div id="hidden-content">
        <form action="">
            <input type="text" placeholder="Ваше имя">
            <input type="text" placeholder="Ваш телефон">
            <input type="submit" value="Отправить">

        </form>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.formstyler.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        document.querySelector('#elastic').oninput = function(){
            let val = this.value.trim();
            let elemNews = document.querySelectorAll('.elastic .none');
            let elsticItems = document.querySelectorAll('.elastic a .news_blog-title');
            if(val != ''){
                elemNews.forEach(function(elem){
                    let value = elem.getAttribute('data-filter-tags');
                    if(value.search(val) == -1){
                        elem.classList.add('hide');      
                    }
                    else{
                        elem.classList.remove('hide');
                    }
                });
            }
            else{
                elemNews.forEach(function(elem){
                        elem.classList.remove('hide');      
                    });
            }
        }
    </script>
</body>
</html>